.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(#fadadd, white);
  margin-bottom: 10px;
  /*Next lines will force navbar to stay on top of window, 
    even if scroll down */
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-middle-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px;
}

.search-input {
  width: 100%;
}

.searchIcon-box {
  background-color: orange;
}

.search-list {
  width: 100%;
  list-style: none;
  font-size: 1.1em;
  color: rgb(105, 105, 105);
  border: 1px solid #ccc;
  border-top: none;
  /*so things don't jump around*/
  position: absolute;
  left: 25%;
  top: calc(50% + 25px);
  max-height: calc(50% - 15px);
  overflow-y: auto;
  background: #fff;
}

.search-item {
  cursor: pointer;
  padding: 5px 10px;
}

.filter-select-list:hover {
  background: #c0c0c0;
  color: #fff;
}

.shopping-cart {
  margin: 5px 5px;
}

.account_profile {
  margin: 5px 5px;
}

.routes-container {
  width: 100%;
}

.footer-container {
  width: 100%;
}
