<div class="main-container">
  <div class="nav-container">
    <!--Moon Icon-->
    <div class="moon-icon">
      <img src="/assets/moon-phase.png" alt="" />
    </div>
    <div class="nav-middle-container">
      <!--Adin logo-->
      <div class="logo">ADIN LOGO</div>
      <div class="search-container">
        <!--search box-->
        <input type="search" class="search-input" />
        <!--search icon-->
        <img
          src="/assets/searchIcon.png"
          alt=""
          class="searchIcon-box"
        />
      </div>
      <!--account profile icon-->
      <div class="account_profile">
        <img src="/assets/outline_account_box_white_18dp.png" alt="" />
      </div>
      <!--shopping cart icon-->
      <div class="shopping-cart">
        <img
          src="/assets/baseline_shopping_cart_white_18dp.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="routes-container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer-container">FOOTER</footer>
</div>
