<div class="welcome-container">
    <!--This landing page introduces users to
         what this site does, similar to Rakuten-->
         <!--Slider/Video-->
         <div class="welcome-carousel">
             <!--1. Hottest Products-->
             <!--2. Promo for starting your store/business-->
             <!--3. Promo for B2B, console, connect you to other biz(s)-->
         </div>
         <div class="description-capsule">
             <div class="shop-description">
                 <div class="left-card"><p>GRAPHIC</p></div>
                 <div class="right-card">
                     <p>Shop the hottest products and compare prices side-by-side to find
                     the best deals!</p>
                     <p><a routerLink="/market">Check out market!</a></p>
                </div>
             </div>
             <div class="store-description">
                 <div class="left-card">
                    <p>Create your own store here at the Adyn MarketPlace!</p>
                 </div>
                 <div class="right-card">
                    <p>GRAPHIC</p>
                </div>
             </div>
             <div class="startup-description">
                <div class="left-card">
                    <p>GRAPHIC</p>
                </div>
                <div class="right-card">
                    <p>Do you want your own start-up? Have you ever wanted to start your
                        own business, but didn't know where to start? Adyn makes it easy to start
                        your own business! We can hook you up to suppliers and get your store up
                        and running in no time!
                    </p>
               </div>
            </div>
            <div class="b2b-description">
                <div class="left-card">
                    <p>Whether it's buying supplies, raw materials, or products at wholesale
                        prices, things can be dizzying for a business owner. Let Adyn take 
                        care of that for you. Adyn is the World's No# 1 business-to-business or B2B platform.
                        We can make your job a whole lot more easier!
                    </p>
                </div>
                <div class="right-card">
                    <p>GRAPHIC</p>
               </div>
            </div>
         </div>
</div>